<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:context="http://www.springframework.org/schema/context" 
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:util="http://www.springframework.org/schema/util" 
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:task="http://www.springframework.org/schema/task" 
    xsi:schemaLocation="http://www.springframework.org/schema/beans   
		http://www.springframework.org/schema/beans/spring-beans.xsd  
		http://www.springframework.org/schema/aop   
		http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/tx   
		http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
		http://www.springframework.org/schema/context   
		http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/util   
		http://www.springframework.org/schema/util/spring-util-4.0.xsd
		http://www.springframework.org/schema/task
		http://www.springframework.org/schema/task/spring-task.xsd">
		
	<context:annotation-config/><!-- 用注解方式注入bean @Controller @Service  @Repository -->
	<!-- 指定扫描注解的包, spring会扫描指定包及其子包的类  -->
	<context:component-scan base-package="cn.lhkj.commons.scan" />
	<context:component-scan base-package="cn.lhkj.project.**.service" />
    <aop:aspectj-autoproxy /><!-- 启动@Aspect支持  cn.lhkj.commons.aop.ServerAspect切面控制数据库的连接和断开-->
	
	<task:scheduler id="scheduler" pool-size="10" />
    <task:executor id="executor" keep-alive="7200" pool-size="100-200" queue-capacity="500" rejection-policy="CALLER_RUNS" />
    <task:annotation-driven executor="executor" scheduler="scheduler" />
</beans>